In [65]:
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading https://files.pythonhosted.org/packages/14/52/accb990baebe0063977f26e02df36aa7eb4015ed4e86f828cd76273cd6f1/pandas_datareader-0.8.1-py2.py3-none-any.whl (107kB)
    100% |████████████████████████████████| 112kB 1.1MB/s ta 0:00:01
Requirement already satisfied: pandas>=0.21 in /home/ansari/anaconda3/lib/python3.6/site-packages (from pandas-datareader) (0.23.0)
Requirement already satisfied: lxml in /home/ansari/anaconda3/lib/python3.6/site-packages (from pandas-datareader) (4.2.1)
Requirement already satisfied: requests>=2.3.0 in /home/ansari/anaconda3/lib/python3.6/site-packages (from pandas-datareader) (2.18.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/ansari/anaconda3/lib/python3.6/site-packages (from pandas>=0.21->pandas-datareader) (2.7.3)
Requirement already satisfied: pytz>=2011k in /home/ansari/anaconda3/lib/python3.6/site-packages (from pandas>=0.21->pandas-datareader) (2018.4)
Requirement already satisfied: numpy>=1.9.0 in /home/ansari/anaconda3/lib/python3.6/site-packages (from pandas>=0.21->pandas-datareader) (1.14.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/ansari/anaconda3/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /home/ansari/anaconda3/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /home/ansari/anaconda3/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /home/ansari/anaconda3/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader) (2018.4.16)
Requirement already satisfied: six>=1.5 in /home/ansari/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas>=0.21->pandas-datareader) (1.11.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.8.1
You are using pip version 19.0.3, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
import pandas as pd
import datetime as dt

In [2]:
some = dt.date(2010, 4, 12)

In [3]:
some.year

2010

In [4]:
some.month

4

In [5]:
some.day

12

In [6]:
dt.datetime(2010, 1, 10)

datetime.datetime(2010, 1, 10, 0, 0)

In [7]:
str(some)

'2010-04-12'

In [8]:
str(dt.datetime(2010, 1, 10, 5, 5, 10))

'2010-01-10 05:05:10'

## Pandas Timestamp Object

In [9]:
pd.Timestamp(dt.datetime(2010, 1, 10))

Timestamp('2010-01-10 00:00:00')

In [10]:
pd.Timestamp('2013, 11, 04')

Timestamp('2013-11-04 00:00:00')

In [11]:
pd.Timestamp('2010-2-3')

Timestamp('2010-02-03 00:00:00')

In [12]:
pd.Timestamp('12/2/2020')

Timestamp('2020-12-02 00:00:00')

In [13]:
pd.Timestamp('2020-03-21 18:02:20')

Timestamp('2020-03-21 18:02:20')

## Pandas DateTimeIndex Object

In [14]:
dates = ['2016/01/02', '2016-04-12', '2019-03-20']

In [15]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2019-03-20'], dtype='datetime64[ns]', freq=None)

In [16]:
dat = [dt.date(2016, 1, 10), dt.date(2016, 1, 10), dt.date(2016, 1, 10)]
pd.DatetimeIndex(dat)

DatetimeIndex(['2016-01-10', '2016-01-10', '2016-01-10'], dtype='datetime64[ns]', freq=None)

In [17]:
value = [100, 200, 300]
pd.Series(data=value, index=dat)

2016-01-10    100
2016-01-10    200
2016-01-10    300
dtype: int64

## pd.to_datetime() Method

In [18]:
pd.to_datetime('2001-01-16')
pd.to_datetime(dt.date(2016, 1, 10))

Timestamp('2016-01-10 00:00:00')

In [19]:
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [20]:
times = pd.Series(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [21]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [22]:
data = pd.Series(['July 4th, 1996', '10/01/1991', 'Hello', '2015-02-31'])

In [23]:
pd.to_datetime(data, errors='coerce')

0   1996-07-04
1   1991-10-01
2          NaT
3          NaT
dtype: datetime64[ns]

## Create range of dates with pd.date_range() Method

In [24]:
times = pd.date_range('2016-02-01','2016-03-01', freq='D')

In [25]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [26]:
times[0]

Timestamp('2016-02-01 00:00:00', freq='D')

In [27]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
times = pd.date_range('2016-02-01','2016-03-01', freq='5D')

In [29]:
times

DatetimeIndex(['2016-02-01', '2016-02-06', '2016-02-11', '2016-02-16',
               '2016-02-21', '2016-02-26'],
              dtype='datetime64[ns]', freq='5D')

In [30]:
times = pd.date_range('2016-02-01','2016-03-01', freq='W')

In [31]:
times

DatetimeIndex(['2016-02-07', '2016-02-14', '2016-02-21', '2016-02-28'], dtype='datetime64[ns]', freq='W-SUN')

In [32]:
times = pd.date_range('2016-02-01','2016-03-01', freq='H')

In [33]:
times

DatetimeIndex(['2016-02-01 00:00:00', '2016-02-01 01:00:00',
               '2016-02-01 02:00:00', '2016-02-01 03:00:00',
               '2016-02-01 04:00:00', '2016-02-01 05:00:00',
               '2016-02-01 06:00:00', '2016-02-01 07:00:00',
               '2016-02-01 08:00:00', '2016-02-01 09:00:00',
               ...
               '2016-02-29 15:00:00', '2016-02-29 16:00:00',
               '2016-02-29 17:00:00', '2016-02-29 18:00:00',
               '2016-02-29 19:00:00', '2016-02-29 20:00:00',
               '2016-02-29 21:00:00', '2016-02-29 22:00:00',
               '2016-02-29 23:00:00', '2016-03-01 00:00:00'],
              dtype='datetime64[ns]', length=697, freq='H')

In [34]:
times = pd.date_range('2016-02-01','2016-03-01', freq='MS')

In [35]:
times

DatetimeIndex(['2016-02-01', '2016-03-01'], dtype='datetime64[ns]', freq='MS')

In [36]:
times = pd.date_range('2016-02-01','2016-03-01', freq='A')

In [37]:
times

DatetimeIndex([], dtype='datetime64[ns]', freq='A-DEC')

In [38]:
times = pd.date_range(start='2016-02-01', periods=25, freq='D')

In [39]:
times

DatetimeIndex(['2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04',
               '2016-02-05', '2016-02-06', '2016-02-07', '2016-02-08',
               '2016-02-09', '2016-02-10', '2016-02-11', '2016-02-12',
               '2016-02-13', '2016-02-14', '2016-02-15', '2016-02-16',
               '2016-02-17', '2016-02-18', '2016-02-19', '2016-02-20',
               '2016-02-21', '2016-02-22', '2016-02-23', '2016-02-24',
               '2016-02-25'],
              dtype='datetime64[ns]', freq='D')

In [40]:
len(times)

25

In [41]:
times = pd.date_range(start='2016-02-01', periods=50, freq='D')
times

DatetimeIndex(['2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04',
               '2016-02-05', '2016-02-06', '2016-02-07', '2016-02-08',
               '2016-02-09', '2016-02-10', '2016-02-11', '2016-02-12',
               '2016-02-13', '2016-02-14', '2016-02-15', '2016-02-16',
               '2016-02-17', '2016-02-18', '2016-02-19', '2016-02-20',
               '2016-02-21', '2016-02-22', '2016-02-23', '2016-02-24',
               '2016-02-25', '2016-02-26', '2016-02-27', '2016-02-28',
               '2016-02-29', '2016-03-01', '2016-03-02', '2016-03-03',
               '2016-03-04', '2016-03-05', '2016-03-06', '2016-03-07',
               '2016-03-08', '2016-03-09', '2016-03-10', '2016-03-11',
               '2016-03-12', '2016-03-13', '2016-03-14', '2016-03-15',
               '2016-03-16', '2016-03-17', '2016-03-18', '2016-03-19',
               '2016-03-20', '2016-03-21'],
              dtype='datetime64[ns]', freq='D')

In [42]:
times = pd.date_range(start='2016-02-01', periods=25, freq='B')
times

DatetimeIndex(['2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04',
               '2016-02-05', '2016-02-08', '2016-02-09', '2016-02-10',
               '2016-02-11', '2016-02-12', '2016-02-15', '2016-02-16',
               '2016-02-17', '2016-02-18', '2016-02-19', '2016-02-22',
               '2016-02-23', '2016-02-24', '2016-02-25', '2016-02-26',
               '2016-02-29', '2016-03-01', '2016-03-02', '2016-03-03',
               '2016-03-04'],
              dtype='datetime64[ns]', freq='B')

In [43]:
times = pd.date_range(start='2016-02-01', periods=25, freq='W')
times

DatetimeIndex(['2016-02-07', '2016-02-14', '2016-02-21', '2016-02-28',
               '2016-03-06', '2016-03-13', '2016-03-20', '2016-03-27',
               '2016-04-03', '2016-04-10', '2016-04-17', '2016-04-24',
               '2016-05-01', '2016-05-08', '2016-05-15', '2016-05-22',
               '2016-05-29', '2016-06-05', '2016-06-12', '2016-06-19',
               '2016-06-26', '2016-07-03', '2016-07-10', '2016-07-17',
               '2016-07-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [44]:
times = pd.date_range(start='2016-02-01', periods=25, freq='W-SUN')
times

DatetimeIndex(['2016-02-07', '2016-02-14', '2016-02-21', '2016-02-28',
               '2016-03-06', '2016-03-13', '2016-03-20', '2016-03-27',
               '2016-04-03', '2016-04-10', '2016-04-17', '2016-04-24',
               '2016-05-01', '2016-05-08', '2016-05-15', '2016-05-22',
               '2016-05-29', '2016-06-05', '2016-06-12', '2016-06-19',
               '2016-06-26', '2016-07-03', '2016-07-10', '2016-07-17',
               '2016-07-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [45]:
times = pd.date_range(start='2016-02-01', periods=25, freq='6H')
times

DatetimeIndex(['2016-02-01 00:00:00', '2016-02-01 06:00:00',
               '2016-02-01 12:00:00', '2016-02-01 18:00:00',
               '2016-02-02 00:00:00', '2016-02-02 06:00:00',
               '2016-02-02 12:00:00', '2016-02-02 18:00:00',
               '2016-02-03 00:00:00', '2016-02-03 06:00:00',
               '2016-02-03 12:00:00', '2016-02-03 18:00:00',
               '2016-02-04 00:00:00', '2016-02-04 06:00:00',
               '2016-02-04 12:00:00', '2016-02-04 18:00:00',
               '2016-02-05 00:00:00', '2016-02-05 06:00:00',
               '2016-02-05 12:00:00', '2016-02-05 18:00:00',
               '2016-02-06 00:00:00', '2016-02-06 06:00:00',
               '2016-02-06 12:00:00', '2016-02-06 18:00:00',
               '2016-02-07 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [46]:
times = pd.date_range(end='2016-02-01', periods=25, freq='B')
times

DatetimeIndex(['2015-12-29', '2015-12-30', '2015-12-31', '2016-01-01',
               '2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07',
               '2016-01-08', '2016-01-11', '2016-01-12', '2016-01-13',
               '2016-01-14', '2016-01-15', '2016-01-18', '2016-01-19',
               '2016-01-20', '2016-01-21', '2016-01-22', '2016-01-25',
               '2016-01-26', '2016-01-27', '2016-01-28', '2016-01-29',
               '2016-02-01'],
              dtype='datetime64[ns]', freq='B')

In [47]:
times = pd.date_range(end='2016-02-01', periods=25, freq='W-SUN')
times

DatetimeIndex(['2015-08-16', '2015-08-23', '2015-08-30', '2015-09-06',
               '2015-09-13', '2015-09-20', '2015-09-27', '2015-10-04',
               '2015-10-11', '2015-10-18', '2015-10-25', '2015-11-01',
               '2015-11-08', '2015-11-15', '2015-11-22', '2015-11-29',
               '2015-12-06', '2015-12-13', '2015-12-20', '2015-12-27',
               '2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31'],
              dtype='datetime64[ns]', freq='W-SUN')

In [48]:
s = pd.Series(times)
s.head()

0   2015-08-16
1   2015-08-23
2   2015-08-30
3   2015-09-06
4   2015-09-13
dtype: datetime64[ns]

## .dt

In [49]:
s.dt.day

0     16
1     23
2     30
3      6
4     13
5     20
6     27
7      4
8     11
9     18
10    25
11     1
12     8
13    15
14    22
15    29
16     6
17    13
18    20
19    27
20     3
21    10
22    17
23    24
24    31
dtype: int64

In [50]:
s.dt.date

0     2015-08-16
1     2015-08-23
2     2015-08-30
3     2015-09-06
4     2015-09-13
5     2015-09-20
6     2015-09-27
7     2015-10-04
8     2015-10-11
9     2015-10-18
10    2015-10-25
11    2015-11-01
12    2015-11-08
13    2015-11-15
14    2015-11-22
15    2015-11-29
16    2015-12-06
17    2015-12-13
18    2015-12-20
19    2015-12-27
20    2016-01-03
21    2016-01-10
22    2016-01-17
23    2016-01-24
24    2016-01-31
dtype: object

In [51]:
s.dt.month

0      8
1      8
2      8
3      9
4      9
5      9
6      9
7     10
8     10
9     10
10    10
11    11
12    11
13    11
14    11
15    11
16    12
17    12
18    12
19    12
20     1
21     1
22     1
23     1
24     1
dtype: int64

In [52]:
s.dt.weekday_name

0     Sunday
1     Sunday
2     Sunday
3     Sunday
4     Sunday
5     Sunday
6     Sunday
7     Sunday
8     Sunday
9     Sunday
10    Sunday
11    Sunday
12    Sunday
13    Sunday
14    Sunday
15    Sunday
16    Sunday
17    Sunday
18    Sunday
19    Sunday
20    Sunday
21    Sunday
22    Sunday
23    Sunday
24    Sunday
dtype: object

In [53]:
s.dt.day_name

In [54]:
mask = s.dt.is_quarter_start
s[mask]

Series([], dtype: datetime64[ns])

In [55]:
mask = s.dt.is_month_end
s[mask]

24   2016-01-31
dtype: datetime64[ns]

In [56]:
mask = s.dt.is_month_start
s[mask]

11   2015-11-01
dtype: datetime64[ns]

## import financial dataset with pandas_datareader Library

In [57]:
from pandas_datareader import data
import datetime as dt

In [58]:
company = ['MSFT']
start = '2010-02-01'
end = '2017-12-31'
stock = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stock.head()

Attributes  Adj Close      Close       High        Low       Open      Volume
Symbols          MSFT       MSFT       MSFT       MSFT       MSFT        MSFT
Date
2010-02-01  22.300581  28.410000  28.480000  27.920000  28.389999  85931100.0
2010-02-02  22.339828  28.459999  28.500000  28.139999  28.370001  54413700.0
2010-02-03  22.473269  28.629999  28.790001  28.120001  28.260000  61397900.0
2010-02-04  21.853163  27.840000  28.500000  27.809999  28.379999  77850000.0
2010-02-05  21.994453  28.020000  28.280001  27.570000  28.000000  80960100.0

In [59]:
import pandas_datareader
print(pandas_datareader.__version__)

0.8.1

In [60]:
stock.columns

MultiIndex(levels=[['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], ['MSFT']],
           labels=[[0, 1, 2, 3, 4, 5], [0, 0, 0, 0, 0, 0]],
           names=['Attributes', 'Symbols'])

In [61]:
stock.values

array([[2.23005810e+01, 2.84099998e+01, 2.84799995e+01, 2.79200001e+01,
        2.83899994e+01, 8.59311000e+07],
       [2.23398285e+01, 2.84599991e+01, 2.85000000e+01, 2.81399994e+01,
        2.83700008e+01, 5.44137000e+07],
       [2.24732685e+01, 2.86299992e+01, 2.87900009e+01, 2.81200008e+01,
        2.82600002e+01, 6.13979000e+07],
       ...,
       [8.27977448e+01, 8.57099991e+01, 8.59800034e+01, 8.52200012e+01,
        8.56500015e+01, 1.46780000e+07],
       [8.28074112e+01, 8.57200012e+01, 8.59300003e+01, 8.55500031e+01,
        8.59000015e+01, 1.05943000e+07],
       [8.26335449e+01, 8.55400009e+01, 8.60500031e+01, 8.55000000e+01,
        8.56299973e+01, 1.87174000e+07]])

In [62]:
stock.index

DatetimeIndex(['2010-02-01', '2010-02-02', '2010-02-03', '2010-02-04',
               '2010-02-05', '2010-02-08', '2010-02-09', '2010-02-10',
               '2010-02-11', '2010-02-12',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=1994, freq=None)

In [63]:
stock.index[0]

Timestamp('2010-02-01 00:00:00')

In [64]:
stock.axes

[DatetimeIndex(['2010-02-01', '2010-02-02', '2010-02-03', '2010-02-04',
                '2010-02-05', '2010-02-08', '2010-02-09', '2010-02-10',
                '2010-02-11', '2010-02-12',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=1994, freq=None),
 MultiIndex(levels=[['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], ['MSFT']],
            labels=[[0, 1, 2, 3, 4, 5], [0, 0, 0, 0, 0, 0]],
            names=['Attributes', 'Symbols'])]

## Selecting from a Dataframe with a DateTimeIndexx

In [65]:
stock = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stock.head()

Attributes  Adj Close      Close       High        Low       Open      Volume
Symbols          MSFT       MSFT       MSFT       MSFT       MSFT        MSFT
Date
2010-02-01  22.300581  28.410000  28.480000  27.920000  28.389999  85931100.0
2010-02-02  22.339828  28.459999  28.500000  28.139999  28.370001  54413700.0
2010-02-03  22.473269  28.629999  28.790001  28.120001  28.260000  61397900.0
2010-02-04  21.853163  27.840000  28.500000  27.809999  28.379999  77850000.0
2010-02-05  21.994453  28.020000  28.280001  27.570000  28.000000  80960100.0

In [66]:
stock.loc['2010-02-01']

Attributes  Symbols
Adj Close   MSFT       2.230058e+01
Close       MSFT       2.841000e+01
High        MSFT       2.848000e+01
Low         MSFT       2.792000e+01
Open        MSFT       2.839000e+01
Volume      MSFT       8.593110e+07
Name: 2010-02-01 00:00:00, dtype: float64

In [67]:
stock.iloc[200]

Attributes  Symbols
Adj Close   MSFT       2.086595e+01
Close       MSFT       2.620000e+01
High        MSFT       2.650000e+01
Low         MSFT       2.617000e+01
Open        MSFT       2.633000e+01
Volume      MSFT       5.179460e+07
Name: 2010-11-15 00:00:00, dtype: float64

In [68]:
birth = pd.date_range(start='1991-04-12', end='2017-12-31', freq=pd.DateOffset(years=1))

In [69]:
mask = stock.index.isin(birth)

In [70]:
stock.loc[mask]

Attributes  Adj Close      Close       High        Low       Open      Volume
Symbols          MSFT       MSFT       MSFT       MSFT       MSFT        MSFT
Date
2010-04-12  23.911137  30.320000  30.490000  30.209999  30.250000  37068800.0
2011-04-12  20.666864  25.639999  25.850000  25.549999  25.830000  36920400.0
2012-04-12  25.651670  30.980000  31.040001  30.420000  30.480000  38304000.0
2013-04-12  24.553804  28.790001  29.020000  28.660000  28.850000  62886300.0
2016-04-12  50.621754  54.650002  54.779999  53.759998  54.369999  24944300.0
2017-04-12  62.011013  65.230003  65.510002  65.110001  65.419998  17108500.0

## Timestamp Object Attributes

In [71]:
stock.index

DatetimeIndex(['2010-02-01', '2010-02-02', '2010-02-03', '2010-02-04',
               '2010-02-05', '2010-02-08', '2010-02-09', '2010-02-10',
               '2010-02-11', '2010-02-12',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=1994, freq=None)

In [72]:
someday = stock.index[500]
someday

Timestamp('2012-01-25 00:00:00')

In [73]:
someday.day

25

In [74]:
someday.month

1

In [75]:
someday.year

2012

In [76]:
someday.weekday_name

/home/ansari/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead
  """Entry point for launching an IPython kernel.

'Wednesday'

In [77]:
someday.is_month_start

False

In [78]:
stock.insert(0,'ay of Week', stock.index.weekday_name)

In [79]:
stock.head(3)

Attributes,ay of Week,Adj Close,Close,High,Low,Open,Volume
Symbols,,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT
Date,,,,,,,
2010-02-01,Monday,22.300581,28.410000,28.480000,27.920000,28.389999,85931100.0
2010-02-02,Tuesday,22.339828,28.459999,28.500000,28.139999,28.370001,54413700.0
2010-02-03,Wednesday,22.473269,28.629999,28.790001,28.120001,28.260000,61397900.0

In [80]:
stock.insert(1,'Is start of Month', stock.index.is_month_start)

In [81]:
stock

Attributes,ay of Week,Is start of Month,Adj Close,Close,High,Low,Open,Volume
Symbols,,,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT
Date,,,,,,,,
2010-02-01,Monday,True,22.300581,28.410000,28.480000,27.920000,28.389999,85931100.0
2010-02-02,Tuesday,False,22.339828,28.459999,28.500000,28.139999,28.370001,54413700.0
2010-02-03,Wednesday,False,22.473269,28.629999,28.790001,28.120001,28.260000,61397900.0
2010-02-04,Thursday,False,21.853163,27.840000,28.500000,27.809999,28.379999,77850000.0
2010-02-05,Friday,False,21.994453,28.020000,28.280001,27.570000,28.000000,80960100.0
2010-02-08,Monday,False,21.758957,27.719999,28.080000,27.570000,28.010000,52820600.0
2010-02-09,Tuesday,False,21.986599,28.010000,28.340000,27.750000,27.969999,59195800.0
2010-02-10,Wednesday,False,21.970903,27.990000,28.240000,27.840000,28.030001,48591300.0
2010-02-11,Thursday,False,22.072945,28.120001,28.400000,27.700001,27.930000,65993700.0
2010-02-12,Friday,False,21.923805,27.930000,28.059999,27.580000,27.809999,81117200.0
2010-02-16,Tuesday,False,22.357546,28.350000,28.370001,28.020000,28.129999,51935600.0
2010-02-17,Wednesday,False,22.546816,28.590000,28.650000,28.360001,28.530001,45882900.0
2010-02-18,Thursday,False,22.846493,28.969999,29.030001,28.510000,28.590000,42856500.0
2010-02-19,Friday,False,22.688766,28.770000,28.920000,28.690001,28.790001,44451800.0
2010-02-22,Monday,False,22.657217,28.730000,28.940001,28.650000,28.840000,36707100.0
2010-02-23,Tuesday,False,22.341770,28.330000,28.830000,28.090000,28.680000,52266200.0
2010-02-24,Wednesday,False,22.578362,28.629999,28.790001,28.379999,28.520000,43165900.0
2010-02-25,Thursday,False,22.554699,28.600000,28.650000,28.020000,28.270000,48735300.0
2010-02-26,Friday,False,22.609909,28.670000,28.850000,28.510000,28.650000,40370600.0
2010-03-01,Monday,True,22.885929,29.020000,29.049999,28.530001,28.770000,43805400.0
2010-03-02,Tuesday,False,22.444300,28.459999,29.299999,28.240000,29.080000,93123900.0
2010-03-03,Wednesday,False,22.444300,28.459999,28.610001,28.350000,28.510000,48442100.0
2010-03-04,Thursday,False,22.578362,28.629999,28.650000,28.270000,28.459999,42890600.0
2010-03-05,Friday,False,22.546816,28.590000,28.680000,28.420000,28.660000,56001800.0
2010-03-08,Monday,False,22.578362,28.629999,28.930000,28.500000,28.520000,39414500.0
2010-03-09,Tuesday,False,22.712425,28.799999,29.110001,28.549999,28.559999,50271600.0
2010-03-10,Wednesday,False,22.846493,28.969999,29.110001,28.799999,28.860001,44891400.0
2010-03-11,Thursday,False,23.012110,29.180000,29.190001,28.850000,28.889999,35349700.0
2010-03-12,Friday,False,23.083084,29.270000,29.379999,29.040001,29.320000,31700200.0
2010-03-15,Monday,False,23.098850,29.290001,29.370001,29.010000,29.180000,37512000.0
...,...,...,...,...,...,...,...,...
2017-11-16,Thursday,False,80.373032,83.199997,83.419998,82.940002,83.099998,20962800.0
2017-11-17,Friday,False,79.600227,82.400002,83.120003,82.239998,83.120003,22079000.0
2017-11-20,Monday,False,79.725800,82.529999,82.589996,82.250000,82.400002,16315000.0
2017-11-21,Tuesday,False,80.875366,83.720001,83.839996,82.739998,82.739998,21237500.0
2017-11-22,Wednesday,False,80.286110,83.110001,83.900002,83.040001,83.830002,20553100.0
2017-11-24,Friday,False,80.430992,83.260002,83.430000,82.779999,83.010002,7425600.0
2017-11-27,Monday,False,81.020279,83.870003,83.980003,83.300003,83.309998,18265200.0
2017-11-28,Tuesday,False,81.995956,84.879997,85.059998,84.019997,84.070000,21926000.0
2017-11-29,Wednesday,False,80.508278,83.339996,84.919998,83.180000,84.709999,27381100.0
2017-11-30,Thursday,False,81.310074,84.169998,84.519997,83.339996,83.510002,33054600.0
2017-12-01,Friday,True,81.397026,84.260002,84.809998,83.220001,83.599998,29532100.0
2017-12-04,Monday,False,78.325081,81.080002,84.430000,80.699997,84.419998,39094900.0
2017-12-05,Tuesday,False,78.817734,81.589996,82.680000,80.980003,81.339996,26152300.0
2017-12-06,Wednesday,False,79.967300,82.779999,83.139999,81.430000,81.550003,26162100.0
2017-12-07,Thursday,False,79.687149,82.489998,82.800003,82.000000,82.540001,23184500.0
2017-12-08,Friday,False,81.300423,84.160004,84.580002,83.330002,83.629997,24489100.0
2017-12-11,Monday,False,82.334061,85.230003,85.370003,84.120003,84.290001,22857900.0
2017-12-12,Tuesday,False,82.672165,85.580002,86.050003,85.080002,85.309998,23924100.0
2017-12-13,Wednesday,False,82.449982,85.349998,86.000000,85.169998,85.739998,22062700.0
2017-12-14,Thursday,False,81.812401,84.690002,85.870003,84.529999,85.430000,19306000.0
2017-12-15,Friday,False,83.899017,86.849998,87.089996,84.879997,85.260002,53936700.0
2017-12-18,Monday,False,83.444984,86.379997,87.500000,86.230003,87.120003,22283800.0
2017-12-19,Tuesday,False,82.913681,85.830002,86.349998,85.269997,86.349998,23524800.0
2017-12-20,Wednesday,False,82.614212,85.519997,86.300003,84.709999,86.199997,23674900.0
2017-12-21,Thursday,False,82.594894,85.500000,86.099998,85.400002,86.050003,17990700.0
2017-12-22,Friday,False,82.604538,85.510002,85.629997,84.919998,85.400002,14145800.0
2017-12-26,Tuesday,False,82.498283,85.400002,85.529999,85.029999,85.309998,9891200.0
2017-12-27,Wednesday,False,82.797745,85.709999,85.980003,85.220001,85.650002,14678000.0
2017-12-28,Thursday,False,82.807411,85.720001,85.930000,85.550003,85.900002,10594300.0
2017-12-29,Friday,False,82.633545,85.540001,86.050003,85.500000,85.629997,18717400.0

In [82]:
stock[stock['Is start of Month']]

Attributes,ay of Week,Is start of Month,Adj Close,Close,High,Low,Open,Volume
Symbols,,,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT
Date,,,,,,,,
2010-02-01,Monday,True,22.300581,28.410000,28.480000,27.920000,28.389999,85931100.0
2010-03-01,Monday,True,22.885929,29.020000,29.049999,28.530001,28.770000,43805400.0
2010-04-01,Thursday,True,22.996336,29.160000,29.540001,28.620001,29.350000,74768100.0
2010-06-01,Tuesday,True,20.509659,25.889999,26.309999,25.520000,25.530001,76152400.0
2010-07-01,Thursday,True,18.346998,23.160000,23.320000,22.730000,23.090000,92239400.0
2010-09-01,Wednesday,True,19.034208,23.900000,23.950001,23.540001,23.670000,65235900.0
2010-10-01,Friday,True,19.416481,24.379999,24.820000,24.299999,24.770000,62672300.0
2010-11-01,Monday,True,21.463259,26.950001,27.219999,26.700001,26.879999,61912100.0
2010-12-01,Wednesday,True,20.865950,26.040001,26.250000,25.559999,25.570000,74123500.0
2011-02-01,Tuesday,True,22.428497,27.990000,28.059999,27.610001,27.799999,62810700.0
2011-03-01,Tuesday,True,21.086014,26.160000,26.780001,26.150000,26.600000,60055000.0
2011-04-01,Friday,True,20.537905,25.480000,25.530001,25.309999,25.530001,63114200.0
2011-06-01,Wednesday,True,19.820629,24.430000,25.100000,24.370001,24.990000,74033500.0
2011-07-01,Friday,True,21.110630,26.020000,26.170000,25.840000,25.930000,52906200.0
2011-08-01,Monday,True,22.124784,27.270000,27.690001,26.750000,27.510000,61838400.0
2011-09-01,Thursday,True,21.399008,26.209999,26.860001,26.209999,26.459999,60510800.0
2011-11-01,Tuesday,True,21.219385,25.990000,26.320000,25.860001,26.190001,61182600.0
2011-12-01,Thursday,True,20.795128,25.280001,25.629999,25.200001,25.559999,48545400.0
2012-02-01,Wednesday,True,24.587280,29.889999,30.049999,29.760000,29.790001,67409900.0
2012-03-01,Thursday,True,26.736357,32.290001,32.389999,31.850000,31.930000,77344100.0
2012-05-01,Tuesday,True,26.504519,32.009998,32.340000,31.950001,32.049999,43832300.0
2012-06-01,Friday,True,23.711386,28.450001,28.959999,28.440001,28.760000,56634300.0
2012-08-01,Wednesday,True,24.511488,29.410000,29.650000,29.209999,29.590000,31721800.0
2012-10-01,Monday,True,24.740990,29.490000,29.980000,29.420000,29.809999,54042700.0
2012-11-01,Thursday,True,24.766155,29.520000,29.559999,28.820000,28.840000,72047900.0
2013-02-01,Friday,True,23.624756,27.930000,28.049999,27.549999,27.670000,55565900.0
2013-03-01,Friday,True,23.837404,27.950001,27.980000,27.520000,27.719999,34849700.0
2013-04-01,Monday,True,24.400293,28.610001,28.660000,28.360001,28.639999,29201100.0
2013-05-01,Wednesday,True,27.905539,32.720001,33.080002,32.599998,32.930000,54330900.0
2013-07-01,Monday,True,29.509716,34.360001,34.990002,34.330002,34.750000,31055400.0
...,...,...,...,...,...,...,...,...
2014-04-01,Tuesday,True,36.366154,41.419998,41.590000,41.070000,41.150002,32605000.0
2014-05-01,Thursday,True,35.119415,40.000000,40.360001,39.950001,40.240002,28787400.0
2014-07-01,Tuesday,True,37.020580,41.869999,42.150002,41.689999,41.860001,26917000.0
2014-08-01,Friday,True,37.895912,42.860001,43.250000,42.599998,43.209999,31170300.0
2014-10-01,Wednesday,True,40.837303,45.900002,46.529999,45.849998,46.270000,38088400.0
2014-12-01,Monday,True,43.530121,48.619999,48.779999,47.709999,47.880001,31191600.0
2015-04-01,Wednesday,True,36.716602,40.720001,40.759998,40.310001,40.599998,36865300.0
2015-05-01,Friday,True,43.875984,48.660000,48.880001,48.400002,48.580002,38937300.0
2015-06-01,Monday,True,42.863331,47.230000,47.770000,46.619999,47.060001,28837300.0
2015-07-01,Wednesday,True,40.340359,44.450001,45.230000,44.099998,44.459999,28343900.0
2015-09-01,Tuesday,True,38.203796,41.820000,42.590000,41.660000,42.169998,49688900.0
2015-10-01,Thursday,True,40.752541,44.610001,44.750000,43.750000,44.750000,28657900.0
2015-12-01,Tuesday,True,50.785107,55.220001,55.230000,54.299999,54.410000,39952800.0
2016-02-01,Monday,True,50.316063,54.709999,55.090000,54.500000,54.880001,44208500.0
2016-03-01,Tuesday,True,48.704338,52.580002,52.590000,50.919998,50.970001,33024500.0
2016-04-01,Friday,True,51.473946,55.570000,55.610001,54.570000,55.049999,24399200.0
2016-06-01,Wednesday,True,49.296829,52.849998,52.950001,52.439999,52.439999,25324800.0
2016-07-01,Friday,True,47.720455,51.160000,51.720001,51.070000,51.130001,21400400.0
2016-08-01,Monday,True,52.776062,56.580002,56.750000,56.139999,56.599998,26003400.0
2016-09-01,Thursday,True,54.052967,57.590000,57.820000,57.009998,57.009998,26075400.0
2016-11-01,Tuesday,True,56.127235,59.799999,60.020000,59.250000,59.970001,24533000.0
2016-12-01,Thursday,True,55.939449,59.200001,60.150002,58.939999,60.110001,34542100.0
2017-02-01,Wednesday,True,60.078220,63.580002,64.620003,63.470001,64.360001,39671500.0
2017-03-01,Wednesday,True,61.735340,64.940002,64.989998,64.019997,64.129997,26937500.0
2017-05-01,Monday,True,65.984741,69.410004,69.550003,68.500000,68.680000,31954400.0
2017-06-01,Thursday,True,67.022667,70.099998,70.610001,69.449997,70.239998,21603600.0
2017-08-01,Tuesday,True,69.393814,72.580002,73.419998,72.489998,73.099998,22132300.0
2017-09-01,Friday,True,71.070747,73.940002,74.739998,73.639999,74.709999,21736200.0
2017-11-01,Wednesday,True,79.952187,83.180000,83.760002,82.879997,83.680000,22307400.0
2017-12-01,Friday,True,81.397026,84.260002,84.809998,83.220001,83.599998,29532100.0

## .truncate() Method

In [83]:
stock.truncate(before='2011-02-05', after='2011-02-28')

Attributes,ay of Week,Is start of Month,Adj Close,Close,High,Low,Open,Volume
Symbols,,,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT
Date,,,,,,,,
2011-02-07,Monday,False,22.596769,28.200001,28.340000,27.790001,27.799999,68980900.0
2011-02-08,Tuesday,False,22.660870,28.280001,28.340000,28.049999,28.100000,34904200.0
2011-02-09,Wednesday,False,22.412468,27.969999,28.260000,27.910000,28.190001,52905100.0
2011-02-10,Thursday,False,22.035860,27.500000,27.940001,27.290001,27.930000,76672400.0
2011-02-11,Friday,False,21.835524,27.250000,27.809999,27.070000,27.760000,83939700.0
2011-02-14,Monday,False,21.819502,27.230000,27.270000,26.950001,27.209999,56766200.0
2011-02-15,Tuesday,False,21.730837,26.959999,27.330000,26.950001,27.040001,44116500.0
2011-02-16,Wednesday,False,21.779205,27.020000,27.070000,26.600000,27.049999,70817900.0
2011-02-17,Thursday,False,21.932344,27.209999,27.370001,26.910000,26.969999,57207300.0
2011-02-18,Friday,False,21.811447,27.059999,27.209999,26.990000,27.129999,68667800.0
2011-02-22,Tuesday,False,21.432606,26.590000,27.100000,26.520000,26.780001,60889000.0
2011-02-23,Wednesday,False,21.432606,26.590000,26.860001,26.430000,26.530001,60234100.0
2011-02-24,Thursday,False,21.577696,26.770000,27.059999,26.500000,26.639999,64494200.0
2011-02-25,Friday,False,21.400364,26.549999,26.950001,26.500000,26.910000,53006300.0
2011-02-28,Monday,False,21.424541,26.580000,26.860001,26.510000,26.690001,51379900.0

## pd.DateOffset Object

In [88]:
stock = data.DataReader(name='GOOD', data_source='yahoo', start=dt.date(2000,1,1), end=dt.datetime.now())
stock.head(3)

             High    Low   Open  Close     Volume  Adj Close
Date
2003-08-14  15.15  14.65  15.15  14.90  1176700.0   3.951753
2003-08-15  15.25  14.95  15.00  15.25   259600.0   4.044582
2003-08-18  15.28  15.20  15.28  15.25    47900.0   4.044582